.card-img {
    width: 200px;
    height: auto;
}
.card-horizontal {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.card-overlay{
    position: absolute; 
    top: 0; 
    left: 0;
    width: 30%; 
    height: 100%; 
    background-image: url('../../assets/overlay.png'); 
    background-size: cover; 
    opacity: 0.25;
    
}
.card-body {
    flex: 1;
    margin-top: 10px;
}
.img-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-image: url("../../assets/overlay.png");
    background-size: cover;
    background-position: center;
    opacity: 0.3; /* Opacidad semi-transparente */
}
